<div *ngIf="post" id="{{post.PID}}-box" class="container border rounded shadow" style="align-content:center; width:70%">
  <div>
    <div class="post-box-title d-flex align-items-center" style="width:50%">
      <div class="flex-shrink-0">
        <img src="" alt="...">
      </div>
      <div class="flex-grow-1 ms-3">
        <p style="color:lightgray">
          This is some content from a media component. You can replace this with any content and adjust it as needed.
        </p>
      </div>
    </div>

    <div class="post-box-body">
      <div class="container">
        <p style="font-size:20px">{{post.body}}</p>
      </div>
    </div>

    <div class="post-box-actions" align="right">
      <button type="button" class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Comments</button>
    </div>
    <div class="collapse" id="collapseExample" style="margin-bottom: 13px">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>
  </div>
</div>
