<div *ngIf = "post">
    
    <p-card [style]="{'width': '70%', 'margin-bottom': '2em', 'margin':'0 auto'}"> 
        <div *ngIf = "post.PID!='annon'"> 
            <!-- add if post is annonimous -->
            <p>{{post.PID}} {{post.date_created}}</p>            
        </div>   
        {{post.body}}
        
        <div id = "replyButton" >            
            <button pButton  type="button" label="reply" class="p-button-outlined"></button> 
        </div>          
            
    </p-card>
    <div *ngIf = "post.comments"></div>
</div>
