<!-- <p-tabMenu class="menu" (click) = "redirect($event)" [model]="items" styleClass="custom"></p-tabMenu> -->
<p-tabMenu class="ui-tabmenu"  [model]="items" ></p-tabMenu>
<p-sidebar  [(visible)]="display"  [style]="{'z-index':'10000'}">
  <!-- <p-avatar image="olga.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar> -->
  <h3>Psychologists available now</h3>
  <br>
  <p-avatar image="../../assets/omri.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
  <span id="shrinkInfo">B.A. in Psychology </span>
  <br>
  <p-avatar image="../../assets/nadav.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
  <br>
  <p-avatar image="../../assets/olgaa.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
  <br>
  <p-avatar image="../../assets/yotam.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
  <br>
  <p-avatar image="../../assets/amoss.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
</p-sidebar>

<!-- <p-button type="text" (click)="display = true" icon="pi pi-bars"></p-button> -->

