<!-- <p-tabMenu class="menu" (click) = "redirect($event)" [model]="items" styleClass="custom"></p-tabMenu> -->
<p-tabMenu class="ui-tabmenu"  [model]="items" ></p-tabMenu>
<p-sidebar  [(visible)]="display"  [style]="{'z-index':'10000'}">
  <!-- <p-avatar image="olga.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar> -->
  <h3>Psychologists available now</h3>
  <br>
  <table style="float:right">
    <tr>
      <td>
        <p-avatar image="../../assets/omri.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
      </td>
      <td>
        <span class ="m-3" id="shrinkInfo"> Omri Tamam - B.A. in Psychology </span>
        <i class="pi pi-envelope p-text-secondary"  pBadge style="font-size: 1rem" severity="danger" (onClick) = "sendEmail()"></i>

      </td>
    </tr>

    <tr>
      <td>
        <p-avatar image="../../assets/nadav.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
      </td>
      <td>
        <span class ="m-3" id="shrinkInfo">Nadav Porat - B.A. in Psychology </span>
      </td>
    </tr>

    <tr>
      <td>
        <p-avatar image="../../assets/olgaa.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
      </td>
      <td>
        <span class ="m-3" id="shrinkInfo">Olga Isakov - B.A. in Psychology </span>
      </td>
    </tr>

    <tr>
      <td>
        <p-avatar image="../../assets/yotam.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
      </td>
      <td>
        <span class ="m-1" id="shrinkInfo">Yotam Feitelson - B.A. in Psychology </span>
      </td>
    </tr>

    <tr>
      <td>
        <p-avatar image="../../assets/amoss.JPG" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
      </td>
      <td>
        <span class ="m-3" id="shrinkInfo">Amoss Dvir - B.A. in Psychology </span>
      </td>
    </tr>
  </table>
</p-sidebar>

<!-- <p-button type="text" (click)="display = true" icon="pi pi-bars"></p-button> -->

