
::ng-deep .p-tabmenu .p-tabmenu-nav{
  /* background-color:#e8f8ff !important; */
  background-color:transparent;

}

::ng-deep .p-sidebar-mask.p-component-overlay {
  background: transparent;
}


/* .menu .ui-menu-item{
  color: red !important;

}

:host ::ng-deep .p-tabmenu .nav-p-reset{
  color: rgb(43, 0, 122) !important;
}



:host ::ng-deep .p-menuitem-text {
  margin: 0;
  padding: .25em .5em 0 .25em;
  color:salmon;
}
 */
 :host ::ng-deep .p-menuitem-link .p-ripple{
background-color: black;
color: black;

 }

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  /* background-color:#e8f8ff; */
  background-color:transparent;

  /* border: 1px solid #2e2e2e; */
  color: rgb(31, 69, 95);

}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background-color:transparent;

color:rgb(78, 78, 78);

  /* border: 1px solid blue; */
}
#shrinkInfo{
  text-align: center;
}

#menubar{
  background: linear-gradient(to right, #e8f8ff 51%, #99bbff 100%);
  /* background: linear-gradient(to right, #7ac1ff 50%, #1f81d6 100%); */

}
