.form{
  background-color: #e8f8ff;
  border-radius: 1rem;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 8%;
}
#title{
  line-height: 3rem;
  color: rgb(31, 69, 95);
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#submit{
max-width: 2rem;
}
#button-cont{
padding-bottom: 2rem;
}

.p-ripple .p-button .p-togglebutton .p-component .p-button-icon-only{
  width:30rem
}

.psychoButton{
text-align: center;

}
