<!-- <form [formGroup]="commentForm" (ngSubmit)="onSubmit()"> -->
<form [formGroup]="commentForm">
    <div class="form-group">
    <textarea class="form-control"
      placeholder="Leave a comment"
      formControlName="comment"
      [ngClass]="{
        'is-invalid': submitted && commentForm.controls['comment'].errors}">
      </textarea>
    <div class="invalid-feedback"
      *ngIf="submitted && commentForm.controls['comment'].errors"
    >
      <div *ngIf="commentForm.controls['comment'].errors.required">
        Comment is required
      </div>
      <div *ngIf="commentForm.controls['comment'].errors.minlength">
        Comment must be at least 6 characters
      </div>
      <div *ngIf="commentForm.controls['comment'].errors.maxlength">
        Comment must be at most 100 characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success" (click) = "onSubmit()">Post Comment</button>
  </div>
</form>

<!-- <div class="comments" *ngIf="postComment !== undefined">
  <h6 *ngIf="postComment.length < 1">No Comments found</h6>
  <ul *ngIf="postComment.length > 0">
    <li *ngFor="let post of postComment; let i = index">
      <div class="col-12 col-sm-12 comment-container">
        <app-commentbox (usercomment)="receiveComment($event)">
        </app-commentbox>
        <p>{{ post.commentTxt }}</p>
        <div class="actions">
          <span>{{ post.currentDate | date: "dd/MM/yyyy" }}</span>
          <span class="divider"></span>
          <button class="btn btn-sm btn-info" (click)="replyComment(i)">Reply
          </button>
          <span class="divider"></span>
          <button class="btn btn-sm btn-danger" (click)="removeComment(i)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <div class="childCommentBox">
          <div datacontainer></div>
          <ul *ngIf="post?.replyComment?.length > 0">
            <li *ngFor="let rl of post.replyComment">
              <div class="col-12 col-sm-12 comment-container">
                <p>{{ rl.commentTxt }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>-->





<!-- <div class="comments" *ngIf="postComment !== undefined">
  <h6 *ngIf="postComment.length < 1">No Comments found</h6>
  <ul *ngIf="postComment.length > 0">
    <li *ngFor="let post of postComment; let i = index">
      <div class="col-12 col-sm-12 comment-container">
        <app-commentbox (usercomment)="receiveComment($event)">
        </app-commentbox>
        <p>{{ commentInfo }}</p>
        <div class="actions">
          <span>{{ post.currentDate | date: "dd/MM/yyyy" }}</span>
          <span class="divider"></span>
          <button class="btn btn-sm btn-info" (click)="replyComment(i)">Reply
          </button>
          <span class="divider"></span>
          <button class="btn btn-sm btn-danger" (click)="removeComment(i)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <div class="childCommentBox">
          <div datacontainer></div>
          <ul *ngIf="post?.replyComment?.length > 0">
            <li *ngFor="let rl of post.replyComment">
              <div class="col-12 col-sm-12 comment-container">
                <p>{{ rl.commentTxt }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div> -->
