<div *ngIf="comment" id="{{comment.CID + '-box'}}" class="container rounded shadow-none">
  <div class="post-box-title d-flex align-items-right">
    <div class="flex-shrink-0">
      <p
        style="display:inline-block;font-size:1em;width:2.5em;height:2.5em;line-height:2.5em;text-align:center;border-radius:50%;background:plum;vertical-align:middle;margin-right:1em;color:white;">{{comment.authorID.toString()[0]}}
      </p>
      <div align="center" style="margin-right:15px">
        <span>&#9989;</span>
      </div>
    </div>
    <div class="flex-grow-1 ms-3">
      <div>
        <p style="color:gray; font-size: 10px">
          {{comment.body}}
        </p>
      </div>
      <div>
          {{comment.body}}
      </div>

    </div>
  </div>
</div>
